<div class="location">
  <div class="header">Boulder, CO</div>

  <div class="station">
    <div class="station_id clearfix">
      <div class="station_name"><%= @conditions["location"]["full"] %></div>
      <div class="updated_at">
        <%= Time.parse(@conditions["observation_time_rfc822"]).strftime("%l:%M %P") %>
      </div>
    </div>

    <div class="graph">
      <div class="loading">Loading...</div>
      <div class="clearfix">
        <div class="predictions"></div>
        <div class="gust_history"></div>
        <div class="wind_history"></div>
        <div class="temp_history"></div>
      </div>
      <div class="clearfix">
        <div class="precipitation"></div>
      </div>
    </div>

    <div class="current_conditions clearfix">
      <div class="temperature">
        <%= @conditions["temp_f"] %>ยบ
      </div>
      <div class="wind">
        <%= @conditions["wind_mph"].to_i %> mph / <%= @conditions["wind_gust_mph"].to_i %> gust
      </div>
      <div class="conditions">
        <%= @forecast["simpleforecast"]["forecastday"].first["conditions"] %>
      </div>
    </div>

    <div class="graph_legend">
      Predicted
      <span class="temp">temp</span> <%= @temperatures.compact.min %>ยบ / <%= @temperatures.compact.max %>ยบ
      <span class="wind">wind</span> <%= @wind_speeds.compact.min %> mph / <%= @wind_speeds.compact.max %> mph
    </div>

  </div>

  <div class="forecast">
    <% @text_forecast[0..2].each do |day| %>
    <p>
      <strong><%= day.first %></strong>
      <%= day.last %>
    </p>
    <% end %>
  </div>

</div>

<script>
head.ready(function() {
  <% min_t = (@temp_history + @temperatures).compact.min - 5 %>
  <% max_t = (@temp_history + @temperatures).compact.max + 5 %>
  <% min_w = (@wind_history + @wind_speeds + @wind_gusts).compact.min %>
  <% max_w = (@wind_history + @wind_speeds + @wind_gusts).compact.max + 5 %>

  $('.graph .loading').hide();

  // draw night/day
  $('.predictions').sparkline(
    <%= @night_day.to_json %>,
    {
      height: 50,
      type: 'bar',
      barSpacing: 0,
      barWidth: 1,
      barColor: '#EEE',
      chartRangeMin: 0,
      chartRangeMax: 1
    }
  );

  // hour marks
  $('.predictions').sparkline(
    <%= @hour_marks.to_json %>,
    {
      type: 'bar',
      composite: true,
      barSpacing: 3,
      barWidth: 1,
      barColor: '#DDD',
      chartRangeMin: 0,
      chartRangeMax: 1
    }
  );

  // cloud cover predictions
  $('.predictions').sparkline(
    <%= @cloud_cover.to_json %>,
    {
      composite: true,
      defaultPixelsPerValue: 1,
      fillColor: false,
      chartRangeMin: 0,
      chartRangeMax: 100,
      lineColor: '#888',
      minSpotColor: false,
      maxSpotColor: false,
      spotColor: false
    }
  );

  // wind gust predictions
  $('.predictions').sparkline(
    <%= @wind_gusts.to_json %>,
    {
      composite: true,
      defaultPixelsPerValue: 4,
      fillColor: false,
      chartRangeMin: <%= min_w %>,
      chartRangeMax: <%= max_w %>,
      lineColor: '#8F8',
      minSpotColor: false,
      maxSpotColor: false,
      spotColor: false
    }
  );

  // wind speed predictions
  $('.predictions').sparkline(
    <%= @wind_speeds.to_json %>,
    {
      defaultPixelsPerValue: 4,
      fillColor: false,
      composite: true,
      chartRangeMin: <%= min_w %>,
      chartRangeMax: <%= max_w %>,
      lineColor: '#0F0',
      minSpotColor: '#088',
      maxSpotColor: '#088',
      spotColor: false
    }
  );

  // temperature predictions
  $('.predictions').sparkline(
    <%= @temperatures.to_json %>,
    {
      defaultPixelsPerValue: 4,
      fillColor: false,
      composite: true,
      chartRangeMin: <%= min_t %>,
      chartRangeMax: <%= max_t %>,
      lineColor: '#88F',
      minSpotColor: '#808',
      maxSpotColor: '#808',
      spotColor: false
    }
  );

  // current time marker
  // $('.predictions').sparkline(
  //   <%= @current_time.to_json %>,
  //   {
  //     type: 'bar',
  //     composite: true,
  //     barSpacing: 0,
  //     barWidth: 1,
  //     barColor: '#F88',
  //     chartRangeMin: 0,
  //     chartRangeMax: 1
  //   }
  // );

  // wind gust history
  $('.gust_history').sparkline(
    <%= @gust_history.to_json %>,
    {
      height: 50,
      fillColor: false,
      defaultPixelsPerValue: 1,
      chartRangeMin: <%= min_w %>,
      chartRangeMax: <%= max_w %>,
      lineColor: '#4C4',
      lineWidth: 1,
      spotColor: false,
      minSpotColor: false,
      maxSpotColor: false
    }
  );

  // wind speed history
  $('.wind_history').sparkline(
    <%= @wind_history.to_json %>,
    {
      height: 50,
      fillColor: false,
      defaultPixelsPerValue: 1,
      chartRangeMin: <%= min_w %>,
      chartRangeMax: <%= max_w %>,
      lineColor: '#080',
      lineWidth: 1.5,
      spotColor: '#F00',
      minSpotColor: false,
      maxSpotColor: false
    }
  );

  // temperature history
  $('.temp_history').sparkline(
    <%= @temp_history.to_json %>,
    {
      height: 50,
      fillColor: false,
      defaultPixelsPerValue: 1,
      chartRangeMin: <%= min_t %>,
      chartRangeMax: <%= max_t %>,
      lineWidth: 1.5,
      spotColor: '#F00',
      minSpotColor: false,
      maxSpotColor: false
    }
  );

  // night/day for precip graph
  $('.precipitation').sparkline(
    <%= @night_day.to_json %>,
    {
      height: 10,
      type: 'bar',
      barSpacing: 0,
      barWidth: 1,
      barColor: '#EEE',
      chartRangeMin: 0,
      chartRangeMax: 1
    }
  );

  // hour marks for precip graph
  $('.precipitation').sparkline(
    <%= @hour_marks.to_json %>,
    {
      type: 'bar',
      composite: true,
      barSpacing: 3,
      barWidth: 1,
      barColor: '#DDD',
      chartRangeMin: 0,
      chartRangeMax: 1
    }
  );

  // precipitation prediction
  $('.precipitation').sparkline(
    <%= @precipitation.to_json %>,
    {
      type: 'bar',
      composite: true,
      barSpacing: 1,
      barWidth: 3,
      barColor: '#8CF',
      chartRangeMin: 0,
      chartRangeMax: 100
    }
  );

  // current time marker
  // $('.precipitation').sparkline(
  //   <%= @current_time.to_json %>,
  //   {
  //     type: 'bar',
  //     composite: true,
  //     barSpacing: 0,
  //     barWidth: 1,
  //     barColor: '#F88',
  //     chartRangeMin: 0,
  //     chartRangeMax: 1
  //   }
  // );

});
</script>
