<div class="station">
  <div class="header clearfix">
    <div class="location"><%= @conditions["location"]["full"] %></div>
    <div class="updated_at">
      <%= Time.parse(@conditions["observation_time_rfc822"]).strftime("%l:%M %P") %>
    </div>
  </div>

  <div class="clearfix">

    <div class="right">
      <div class="wind">
      <%= @conditions["wind_mph"].to_i %> mph /
      <%= @conditions["wind_gust_mph"].to_i %> gust
      </div>
      <div class="current_conditions">
      <%= @forecast["simpleforecast"]["forecastday"].first["conditions"] %>
      </div>
    </div>

    <div class="temperature"><%= @conditions["temp_f"] %>ยบ</div>

  </div>

</div>


<!--
<pre>
<% require 'yaml' %>
<%= @conditions.to_yaml %>
<%= @forecast.to_yaml %>
</pre>
-->
