<div class="station">
  <div class="header clearfix">
    <div class="location"><%= @conditions["location"]["full"] %></div>
    <div class="updated_at">
      <%= Time.parse(@conditions["observation_time_rfc822"]).strftime("%l:%M %P") %>
    </div>
  </div>

  <div class="clearfix">

    <div class="right">
      <div class="wind">
      <%= @conditions["wind_mph"].to_i %> mph /
      <%= @conditions["wind_gust_mph"].to_i %> gust
      </div>
      <div class="current_conditions">
      <%= @forecast["simpleforecast"]["forecastday"].first["conditions"] %>
      </div>
    </div>

    <div class="temperature"><%= @conditions["temp_f"] %>ยบ</div>

  </div>

</div>

<div class="hourly"></div>
<div class="history"></div>

<script>
head.ready(function() {
  <% min_t = (@temp_history + @temperatures).compact.min - 5 %>
  <% max_t = (@temp_history + @temperatures).compact.max + 5 %>
  $('.hourly').sparkline(
    <%= @night_day.to_json %>,
    {
      height: 50,
      type: 'bar',
      barSpacing: 0,
      barWidth: 1,
      barColor: '#EEE',
      chartRangeMin: 0,
      chartRangeMax: 1
    }
  );
  $('.hourly').sparkline(
    <%= @hour_marks.to_json %>,
    {
      height: 50,
      type: 'bar',
      composite: true,
      barSpacing: 3,
      barWidth: 1,
      barColor: '#DDD',
      chartRangeMin: 0,
      chartRangeMax: 1
    }
  );

  $('.hourly').sparkline(
    <%= @temperatures.to_json %>,
    {
      height: 50,
      defaultPixelsPerValue: 4,
      fillColor: false,
      composite: true,
      chartRangeMin: <%= min_t %>,
      chartRangeMax: <%= max_t %>,
      lineColor: '#AAA',
      minSpotColor: false,
      maxSpotColor: false,
      spotColor: false
    }
  );
  $('.history').sparkline(
    <%= @temp_history.to_json %>,
    {
      height: 50,
      composite: true,
      fillColor: false,
      defaultPixelsPerValue: 1,
      chartRangeMin: <%= min_t %>,
      chartRangeMax: <%= max_t %>,
      spotColor: '#F00',
      minSpotColor: false,
      maxSpotColor: false
    }
  );
});
</script>
