<div id="weather" data-role="page" data-station-id="<%= params["station_id"] %>" data-theme="d">
  <script class="station_info" type="text/json">
    <%= @station.to_json %>
  </script>
  <div data-role="header">
    <h1><%= @location %></h1>
    <a href="/" class="ui-btn-right" data-icon="home" data-iconpos="notext"></a>
  </div>

  <div data-role="content">
    <p>
      <strong><%= @name %></strong>
    </p>

    <div class="station_id clearfix">
      <div class="updated_at">
        <%= Time.parse(@conditions.observation_time_rfc822).strftime("%l:%M %P") %>
      </div>
    </div>

    <div class="graph">
      <div class="clearfix">
        <div class="predictions"></div>
        <div class="gust_history"></div>
        <div class="wind_history"></div>
        <div class="temp_history"></div>
      </div>
      <div class="clearfix">
        <div class="sky"></div>
      </div>
    </div>

    <div class="current_conditions clearfix">
      <div class="temperature">
        <%= @conditions.temp_f %>ยบ
      </div>
      <div class="conditions">
        <%= @forecast.simpleforecast.forecastday.first.conditions %>
      </div>
      <div class="wind">
        <%= @conditions.wind_mph %> mph / <%= @conditions.wind_gust_mph %> gust
      </div>
    </div>

    <div class="forecast">
      <% @text_forecast.each do |day| %>
      <p><strong><%= day.first %></strong> <%= day.last %></p>
      <% end %>
    </div>

    <script class="weather_data" type="text/json">
      <%= @weather_data.to_json %>
    </script>

  </div>

  <div data-role="footer" class="ui-bar">
    <a class="remember_station" href="#" data-role="button" data-icon="star" style="display:none">Save Station</a>
    <a class="forget_station" href="#" data-role="button" data-icon="delete" style="display:none">Forget Station</a>
  </div>
</div>

